<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}

         <div class="container-fluid  container-grid">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h2>this is a error you are at wrong page</h2>
                    <img src="./study1.gif" alt="error ka image">
                </div>
            </div>
         </div>


    {{>footer}}
</body>
</html>