<div class="container-fluid-mt-2 about-style" id="aboutid">
       <div class="row">
        <div class="col-md-10 c ol-12 mx-auto"> 

          <h1 class="text-center main-heading">Its Your Day!</h1>
          <p class="text-center sub-heading">See What Your family have to Say</p>
          <div class="row">

             <div class="col-md-6 col-12 hero-text order-md-0 order-1">
{{!-- RIght side --}}
           <figure>
            <img src="./images/hero2.svg" alt="herokaimage">
           </figure>
            </div>
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
{{!-- Right side --}}
             <h1>Deepak Mishra</h1>
             <h1>Happy Birthday To You Bro!</h1>
             <p>“Wishing you a day filled with happiness and a year filled with joy. <span class="bold-style"> Happy birthday!”</span> “Sending you smiles for every moment of your special day…Have a wonderful time and a very happy birthday!” “Hope your special day brings you all that your heart desires!<div class="bold-style" style="font-size:3rem;">Manish Mishra</div></p>
             <button class="btn-style btn-primary">Read More</button>
            </div>
          </div>   
        </div>
       </div>
     </div>
