<div class="container-fluid-mt-2 about-style" id="onearth">
       <div class="row">
        <div class="col-md-10 c ol-12 mx-auto"> 

          <h1 class="text-center main-heading"><i class="fa-solid fa-earth-asia"></i>Your Journey On Earth <i class="fa-solid fa-planet-moon"></i></h1>
          <p class="text-center sub-heading">This is What You Acomplished Untill now</p>
          <div class="row">
            {{!-- Making 3 boxes --}}
            <div class="col-md-4">
              <div class="box">
                <div class="our-services database">
                  <div class="icon">
                    <img src="./images/studymusic.gif" style="max-width:15rem; border-radius:20%;" alt="study ka image">
                  </div>
                  <h4>Education</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugiat nisi aliquid aerat quo consequuntur ad error quidem.</p>
                   </div>
              </div>
            </div>
             <div class="col-md-4">
              <div class="box">
                <div class="our-services settings">
                  <div class="icon">
                    <img src="./images/studymusic.gif" style="max-width:15rem; border-radius:20%;" alt="study ka image">
                  </div>
                  <h4>Education</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugiat nisi aliquid aerat quo consequuntur ad error quidem.</p>
                   </div>
              </div>
            </div>

 <div class="col-md-4">
              <div class="box">
                <div class="our-services speedup">
                  <div class="icon">
                    <img src="./images/studymusic.gif" style="max-width:15rem; border-radius:20%;" alt="study ka image">
                  </div>
                  <h4>Education</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugiat nisi aliquid aerat quo consequuntur ad error quidem.</p>
                   </div>
              </div>
            </div>

 <div class="col-md-4">
              <div class="box">
                <div class="our-services privacy">
                  <div class="icon">
                    <img src="./images/studymusic.gif" style="max-width:15rem; border-radius:20%;" alt="study ka image">
                  </div>
                  <h4>Education</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugiat nisi aliquid aerat quo consequuntur ad error quidem.</p>
                   </div>
              </div>
            </div>

 <div class="col-md-4">
              <div class="box">
                <div class="our-services backups">
                  <div class="icon">
                    <img src="./images/studymusic.gif" style="max-width:15rem; border-radius:20%;" alt="study ka image">
                  </div>
                  <h4>Education</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugiat nisi aliquid aerat quo consequuntur ad error quidem.</p>
                   </div>
              </div>
            </div>

 <div class="col-md-4">
              <div class="box">
                <div class="our-services ssl">
                  <div class="icon">
                    <img src="./images/studymusic.gif" style="max-width:15rem; border-radius:20%;" alt="study ka image">
                  </div>
                  <h4>Education</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugiat nisi aliquid aerat quo consequuntur ad error quidem.</p>
                   </div>
              </div>
            </div>





          </div>
        </div>
       </div>
</div>